{%extends "layouts/base.html"%}
{%load static%}
{%block stylesheets%}
<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
{%endblock stylesheets%}
{%block content%}
<table border="1">
    
    <tr>
        <th>Name:</th>
        <th>Age:</th>
        <th>address:</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {%for s in student%}
       <tr>
        <td>{{s.name}}</td>
        <td>{{s.age}}</td>
        <td>{{s.address}}</td>
        <td><a href="{% url 'update_student' id=s.id %}">Update info</a></td>
        <td><a href="{% url 'DeleteStudent' Sid=s.id  %}">Delete</a></td>
       </tr>
    {%endfor%}
</table>
{%endblock content%}